<div class="container">
      <button mat-flat-button color="primary" aria-label="navigate_before" (click)="previousWeek()">
        <mat-icon>navigate_before</mat-icon>
      </button>

    <mat-form-field>
      <input #pickerInput matInput [matDatepicker]="picker" placeholder="Week" [(ngModel)]="selectedDay"
        (dateChange)="changeSelectedDate()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

      <button mat-flat-button color="primary" aria-label="navigate_next" (click)="nextWeek()">
        <mat-icon>navigate_next</mat-icon>
      </button>
  <div>
    <mat-label>Display from {{getMonday() | date: 'dd MMM yyy'}} to {{getSunday() | date: 'dd MMM yyy'}}. </mat-label>
  </div>
</div>


<div class="container">
  <mat-accordion class="example-headers-align">
    <app-payable-list-item *ngFor="let item of daysOfWeek" 
    [day]="item.day" 
    [payables]="item.entries">
    </app-payable-list-item>
  </mat-accordion>
</div>