<h1 mat-dialog-title>Add Field</h1>

<div mat-dialog-content>
    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Ingenio Id" [(ngModel)]="field.ingenioId"  type="number" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="field.name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Owner" [(ngModel)]="field.owner" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Size" [(ngModel)]="field.size"  type="number">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cultivated" [(ngModel)]="field.cultivatedArea" type="number">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Acquisition date" 
                [(ngModel)]="field.acquisitionDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>           
</div>

<div mat-dialog-actions>
  <button mat-button (click)="dismiss()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Create</button>
</div>